$light-color: lightgrey;

@media (min-width: 745px) {
  .header {
    .menu-icon {
      display: none;
    }
    .nav-bar {
      display: flex;
      ul {
        display: flex;
        li {
          margin-left: 20px;
          list-style: none;
          a {
            color: $light-color;
            text-decoration: none;
          }
        }
      }
    }
  }
}
